<p>
  change-password works!
</p>
<form [formGroup]="form">

  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input type="text" class="form-control" id="oldPassword" 
    formControlName="oldPassword"/>
    <div *ngIf="oldPassword.pending">Waiting for password validation...</div>    
    <div class="alert alert-danger" 
    *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">old Password is required</div>
      <div *ngIf="oldPassword.errors.oldPassIsValid">old Password is incorrect</div>      
    </div>    
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control" id="newPassword"
    formControlName="newPassword"/>
    <div class="alert alert-danger" 
    *ngIf="newPassword.touched && newPassword.invalid"    
    >
      <div *ngIf="newPassword.errors.required">New Paswword is required</div>
    </div>
  </div>

  <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword"
      formControlName="confirmPassword">
      <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
      </div>
      <div *ngIf="confirmPassword.valid && form.invalid && form.errors" class="alert alert-danger">Pasword don't match</div>                      
  </div>
    <button class="btn btn-primary">Change</button>
</form>