<p>
  input-course works!
</p>
<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" 
      ngModel name="name" 
      id="name" 
      required
      minlength="3"
      #name="ngModel"
      />
      <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
        <div id="required" *ngIf="name.errors.required">
          Name is required
        </div>
        <div id="minlenght" *ngIf="name.errors.minlength">
            Name should be minimal {{name.errors.minlength.requiredLength }}
        </div>  
      </div>         
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select ngModel required #category="ngModel" name="category" class="form-control" id="category">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name}}</option>
    </select>
  </div>
  <div *ngIf="category.touched && category.invalid" class="alert alert-danger">You must select a category</div>
  <div class="checkbos">
    <label for="" id="hasGarantee">
      <input ngModel name="hasGarantee" type="checkbox" id="hasGarantee">
      30-day money back guarantee
    </label>
  </div> 
  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
</form>
